<%- include('../partials/head.ejs') %>

<main class="mainWrapper">
    <img src="/images/parade-logo.jpg" alt="Festival Parade">
    <div class="treeOverlay">

    </div>
</main>

<%- include('../partials/foot.ejs') %>
