html, body {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    padding: 2em;
}

.mainWrapper {
    border: 0.1em #F12D4B solid;
    position: relative;
    height: 100%;
}
