<%- include('../partials/head.ejs') %>

<main class="mainWrapper">
    <img class="logoImage" src="/images/parade-logo.jpg" alt="Festival Parade">
    <div class="treeOverlay">
        <img class="manPuppet" src="/images/man-puppet.png" alt="shadow puppet">
        <img class="womanPuppet" src="/images/woman-puppet.png" alt="shadow puppet">
    </div>
</main>

<%- include('../partials/foot.ejs') %>
