<%- include('../partials/head.ejs') %>

<main class="mainWrapper">
    <img class="logoImage" src="/images/parade-logo.jpg" alt="Festival Parade">
    <div class="treeOverlay">
        <img class="manPuppet" src="/images/man-puppet.png" alt="shadow puppet">
        <img class="womanPuppet" src="/images/woman-puppet.png" alt="shadow puppet">
    </div>
</main>
<p id="goalSign" class="hide">
    Goal Reached!
</p>
<canvas class="hide" id="confetti" height="1" width="1"></canvas>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/datavisualization.js" type="text/javascript"></script>

<%- include('../partials/foot.ejs') %>
