<%- include('../partials/head.ejs') %>

<section class="settingsHeader">
  <div>
    <h1>Settings</h1>
    <span>Stel hier de doelen (KwH) per dag en voor totaal in</span>
  </div>
</section>

<section class="settingsForm">
  <form method="post">
    <label for="target1">Doel van dag 1</label>
    <input type="number" name="target1" placeholder="Doel voor dag 1" />
    <label for="target2">Doel van dag 2</label>
    <input type="number" name="target2" placeholder="Doel voor dag 2" />
    <label for="target3">Doel van dag 3</label>
    <input type="number" name="target3" placeholder="Doel voor dag 3" />
    <label for="target4">Doel van dag 4</label>
    <input type="number" name="target4" placeholder="Doel voor dag 4" />
    <label for="target5">Doel van dag 5</label>
    <input type="number" name="target5" placeholder="Doel voor dag 5" />
    <input type="submit" value="opslaan" />
  </form>
</section>

<%- include('../partials/foot.ejs') %>
