<%- include('../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/d3.css">

<main>
</main>
<select id='timeSelector'>
  <option value='a'>
    Data A
  </option>
  <option value='b'>
    Data B
  </option>
  <option value='c'>
    Data C
  </option>
</select>

<script src="/js/datavisualization.js" type="text/javascript"></script>

<%- include('../partials/foot.ejs') %>
