<%- include('../partials/head.ejs') %>

<main>
</main>
<select id='timeSelector'>
  <option value='a'>
    Data A
  </option>
  <option value='b'>
    Data B
  </option>
</select>

<%- include('../partials/foot.ejs') %>
